{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["babel"],
  "globals": {
    "describe": true,
    "it": true,
    "fit": true,
    "jasmine": true,
    "beforeEach": true,
    "beforeAll": true,
    "afterAll": true
  },
  "rules": {
    "no-param-reassign": 0,
    "no-control-regex": 0,
    "import/prefer-default-export": 0,
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 0,
    "func-names": 0,
    "no-confusing-arrow": 0,
    "camelcase": 0,
    "no-multiple-empty-lines": [
      "error",
      { "max": 1, "maxEOF": 0, "maxBOF": 0 }
    ],
    "import/no-unresolved": false
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
